<!-- product-list-2.liquid -->
<style>
  .p-banner{
            position: relative;
            overflow: hidden;
            height: 280px;
            margin-bottom: var(--g-gutter);
        }
        .p-banner2{
            margin-bottom: 0;
        }
        .p-banner.banner-theme figcaption{
            height: 100%;
            top:0;
            display: flex;
            align-items: center;
        }
        .p-img{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
</style>
<div class="customstyle{{ section.id }}" data-aos="{{section.settings.animation}}">
    {%- include 'style-section' -%}
  <div class="{{ section.settings.setwidth }}">
    <div class="section-block">
      {%- include 'section-heading' -%}
      <div class="row">
        {%- for block in section.blocks -%}
        {%- case block.settings.width -%}
        {%- when 'auto' -%}
        {%- assign block_width = 'col-lg col-12' -%}
        {%- when '20%' -%}
        {%- assign block_width = 'col-1-5 col-md-6 col-12' -%}
        {%- when '25%' -%}
        {%- assign block_width = 'col-lg-3 col-md-6 ' -%}
        {%- when '33%' -%}
        {%- assign block_width = 'col-lg-4 col-md-6 ' -%}
        {%- when '41%' -%}
        {%- assign block_width = 'col-lg-5 col-md-12 ' -%}
        {%- when '50%' -%}
        {%- assign block_width = 'col-lg-6 ' -%}
        {%- when '58%' -%}
        {%- assign block_width = 'col-lg-7 col-md-12 ' -%}
        {%- when '66%' -%}
        {%- assign block_width = 'col-lg-8 col-md-12 ' -%}
        {%- when '75%' -%}
        {%- assign block_width = 'col-lg-9 col-md-12 ' -%}
        {%- when '100%' -%}
        {%- assign block_width = 'col-12 ' -%}
        {%- endcase -%}
        <div class="{{block_width}}">
          {%- case block.type -%}
          {%- when 'html' -%}
            <div class="col">
              {%- if block.settings.descolumn != blank -%}
                {{block.settings.descolumn}}
              {%- endif -%}
            </div>  
          {%- when 'productlist' -%}
            <div>
              <div class="productlist-wrapper dots-negative" data-aos="{{section.settings.animation}}">
                  <div class="productlist-slider row" id="Productlist-{{ section.id }}"
                      style="opacity:0"
                      data-rows="{{block.settings.rows}}"
                      data-slidesToShow="{{block.settings.show}}"
                      data-arrows="{{ block.settings.arrows }}"
                      data-dots="{{ block.settings.dots }}" 
                      data-draggable="{{ block.settings.draggable }}" 
                      data-infinite="{{ block.settings.infinite }}" 
                      data-section-id="{{ block.id }}" 
                      data-section-type="productlist">
                    {%- assign collection = collections[block.settings.collection]  -%}
                    {%- assign limit = block.settings.limit -%}
                    {%- if collection != blank -%}
                    {%- for product in collection.products limit: limit -%}
                    <div class="productlist-item col">
                      {%- include 'product-card', product: product -%}
                    </div>
                    {%- endfor -%}
                    {%- else -%}
                    {%- for i in (1..limit) -%}
                    <div class="productlist-item col">
                      {%- include 'product-grid-blank' -%}
                    </div>
                    {%- endfor -%}
                    {%- endif -%}
                  </div>
                </div>
            </div>
            {%- when 'banner' -%}
            <div class="mt-4 mt-lg-0">
            {%- for i in (1..2) -%}
            {%- assign e_enable = 'e_enable_' | append:i -%}
            {%- assign e_rounded = 'e_rounded_' | append:i -%}
            {%- assign img = 'image_' | append:i -%}
            {%- assign e_link = 'button_link_' | append:i -%}
            {%- assign e_des = 'description_' | append:i -%}
            {%- assign e_btn = 'button_text_' | append:i -%}
            {%- assign e_style = 'style_btn_' | append:i -%}
            {%- assign e_height = 'e_height_banner_' | append:i -%}
            {% if block.settings[e_enable] %}
            <figure class="banner-theme hv-image-saturate p-banner p-banner{{forloop.index}} {% if block.settings[e_rounded] %} rounded {% endif %}">
            {%- if block.settings[img] != blank -%}
            <img src="{% include 'srcBlank' %}" class="lazyload transition p-img" data-src="{{block.settings[img] | img_url:'1200x'}}">
            <a class="banner-overlay" href="{{block.settings[e_link] | default:"#"}}"></a>
            {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
            <figcaption class="figcaption--{{block.id}} p-lg-5 p-4">
                <div>
                {%- if block.settings[e_des] -%}
                <div class="position-relative">
                    <div class="bg-des"></div>
                    <div class="position-relative" style="z-index: 3;">
                    {{block.settings[e_des]}}
                    </div>
                </div>
                {%- endif -%}
                {%- if block.settings[e_btn] != blank -%}
                <a href="{{block.settings[e_link]}}" class="btn {{block.settings[e_style]}} gradient-theme mt-3">
                {{block.settings[e_btn]}}
                </a>
                {%- endif -%}
            </div>
            </figcaption>		
            {%- if block.settings[e_link] != blank -%}
            <a href="{{block.settings[e_link]}}"></a>
            {%- endif -%}
            </figure>
            <style>
                @media (min-width:992px) {
                    .p-banner{{forloop.index}}{
                        height:{{block.settings[e_height]}}px;
                    }
                }
            </style>
            {% endif %}
            {%- endfor -%}
          </div>
          {%- endcase -%}
          </div>
        {%- endfor -%}
          
      </div>
      
    </div>
  </div>
  </div>
  
  {% schema %}
  {
    "name": "Product list HTML Banner",
    "class": "index-section",
    "max_blocks": 3,
    "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        { "value": "", "label": "None"},
        { "value": "fade", "label": "Fade"},
        { "value": "fade-up", "label": "Fade Up"},
        { "value": "fade-down", "label": "Fade Down"},
        { "value": "fade-left", "label": "Fade Left"},
        { "value": "fade-right", "label": "Fade Right"},
        { "value": "fade-up-right", "label": "Fade Up Right"},
        { "value": "fade-up-left", "label": "Fade Up Left"},
        { "value": "fade-down-right", "label": "Fade Down Right"},
        { "value": "fade-down-left", "label": "Fade Down Left"},
        { "value": "flip-up", "label": "Flip Up"},
        { "value": "flip-down", "label": "Flip Down"},
        { "value": "flip-left", "label": "Flip Left"},
        { "value": "flip-right", "label": "Flip Right"},
        { "value": "slide-up", "label": "Slide Up"},
        { "value": "slide-down", "label": "Slide Down"},
        { "value": "slide-left", "label": "Slide Left"},
        { "value": "slide-right", "label": "Slide Right"},
        { "value": "zoom-in", "label": "Zoom In"},
        { "value": "zoom-in-up", "label": "Zoom In Up"},
        { "value": "zoom-in-down", "label": "Zoom In Down"},
        { "value": "zoom-in-left", "label": "Zoom In Left"},
        { "value": "zoom-in-right", "label": "Zoom In Right"},
        { "value": "zoom-out", "label": "Zoom Out"},
        { "value": "zoom-out-up", "label": "Zoom Out Up"},
        { "value": "zoom-out-down", "label": "Zoom Out Down"},
        { "value": "zoom-out-left", "label": "Zoom Out Feft"},
        { "value": "zoom-out-right", "label": "Zoom Out Right"}
      ],
      "label": "Select Animation"
  },
    {
      "type": "text",
      "id": "paddingsection",
      "label": "Padding Section",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "paddingmobile",
      "label": "Padding Section Mobile",
      "default": "60px 0px 60px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginsection",
      "label": "Margin Section",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginmobile",
      "label": "Margin Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "color",
      "id": "bgsection",
        "label": "Background Section",
        "default": "#fefefe"
    },
    {
      "type": "checkbox",
      "id": "enable_inner",
      "label": "Enable Padding Inner",
      "default": true
    },
    {
      "type": "text",
      "id": "padding_inner",
      "label": "Padding Inner ",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "padding_inner_mobile",
      "label": "Padding Inner Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "color",
      "id": "bg_inner",
        "label": "Background Inner",
        "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "select",
      "id": "sectionheading",
      "label": "Style Heading",
      "default": "heading-0",
      "options": [
        {
          "value": "heading-0",
          "label": "Heading 0 Border"
        },
        {
          "value": "heading-1",
          "label": "Heading 1 Center"
        },
        {
          "value": "heading-2",
          "label": "Heading 2 No Border"
        },
        {
          "value": "heading-3",
          "label": "Heading 3 Center Border"
        },
        {
          "value": "heading-4",
          "label": "Hide Heading"
        }
      ]
    }, 
    {
      "type": "color",
      "id": "dot_heading0",
      "label": "Color Dot Heading 0, Heading 2",
      "default": "#bac34e"
    },
    {
        "type": "text",
        "id": "title_top",
        "label": "Sub Title Top",
        "default": "Sub Title Top"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Product list"
      },
      {
        "type": "textarea",
        "id": "des",
        "label": "HTML / Description"
      }
    ],
    "blocks": [
    {
      "type": "html",
      "name": "HTML",
      "limit": 1,
      "settings": [
        {
          "type": "html",
          "id": "descolumn",
          "label": "HTML / Banner Column"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "100%",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "41%",
              "label": "41%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "58%",
              "label": "58%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "productlist",
      "name": "Product List",
      "limit":1,
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "100%",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "41%",
              "label": "41%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "58%",
              "label": "58%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        },
        
        {
          "type": "checkbox",
          "id": "arrows",
          "label": "Arrows",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "draggable",
          "label": "Draggable",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "dots",
          "label": "Dots",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "infinite",
          "label": "Infinite",
          "default": true
        },
        {
          "type": "select",
          "id": "rows",
          "label": "Rows",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "1 row"
            },
            {
              "value": "2",
              "label": "2 rows"
            }
          ]
        },
        {
          "type": "range",
          "id": "limit",
          "min": 3,
          "max": 30,
          "step": 1,
          "label": "Limit items",
          "default": 10
        },
        {
          "type": "range",
          "id": "show",
          "min": 3,
          "max": 6,
          "step": 1,
          "label": "Display items",
          "default": 3
        }
      ]
    },
    {
        "type": "banner",
        "name": "Banner",
        "limit":1,
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "33%",
            "options": [
              {
                "value": "auto",
                "label": "Auto"
              },
              {
                "value": "20%",
                "label": "20%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "41%",
                "label": "41%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "58%",
                "label": "58%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "header",
            "content": "--- Banner 1"
          },
          {
                "type": "checkbox",
                "id": "e_enable_1",
                "label": "Enable Banner 1",
                "default": true
            },
          {
            "type": "range",
            "id": "e_height_banner_1",
            "label": "Height Banner 1",
            "max": 800,
            "min": 200,
            "step": 10,
            "unit": " px",
            "default": 300
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
          
          {
                "type": "checkbox",
                "id": "e_rounded_1",
                "label": "Enable Rounded 1",
                "default": true
            },
          {
            "type": "textarea",
            "id": "description_1",
            "label": "HTML / Description 1",
            "default": "<h3 class='mb-2'>Banner title</h3><p>Lorem ipsum dolor sit amet</p>",
            "info":"💡 [HTML Buider.](https:\/\/ap2020.myshopify.com\/pages\/html-builder)"
          },
          {
            "type": "select",
            "id": "style_btn_1",
            "label": "Style Button 1",
            "default": "btn-underline btn-underline-white",
            "options": [
              {
                "value": "btn-theme",
                "label": "Button Box"
              },
              {
                "value": "btn-theme btn-white",
                "label": "Button Box White"
              },
              {
                "value": "btn-underline",
                "label": "Button Line"
              },
              {
                "value": "btn-underline btn-underline-white",
                "label": "Button Line White"
              },
              {
                "value": "btn-underline btn-underline-heading",
                "label": "Button Line Dark"
              }
            ]
          },
          {
            "type": "text",
            "id": "button_text_1",
            "label": "Button text 1",
            "default": "View more"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "Button link 1"
          },
          {
            "type": "header",
            "content": "--- Banner 2"
          },
          {
                "type": "checkbox",
                "id": "e_enable_2",
                "label": "Enable Banner 2",
                "default": true
            },
          {
            "type": "range",
            "id": "e_height_banner_2",
            "label": "Height Banner 2",
            "max": 800,
            "min": 200,
            "step": 10,
            "unit": " px",
            "default": 300
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          },
          
          {
                "type": "checkbox",
                "id": "e_rounded_2",
                "label": "Enable Rounded 2",
                "default": true
            },
          {
            "type": "textarea",
            "id": "description_2",
            "label": "HTML / Description 2",
            "default": "<h3 class='mb-2'>Banner title</h3><p>Lorem ipsum dolor sit amet</p>",
            "info":"💡 [HTML Buider.](https:\/\/ap2020.myshopify.com\/pages\/html-builder)"
          },
          {
            "type": "select",
            "id": "style_btn_2",
            "label": "Style Button 2",
            "default": "btn-underline btn-underline-white",
            "options": [
              {
                "value": "btn-theme",
                "label": "Button Box"
              },
              {
                "value": "btn-theme btn-white",
                "label": "Button Box White"
              },
              {
                "value": "btn-underline",
                "label": "Button Line"
              },
              {
                "value": "btn-underline btn-underline-white",
                "label": "Button Line White"
              },
              {
                "value": "btn-underline btn-underline-heading",
                "label": "Button Line Dark"
              }
            ]
          },
          {
            "type": "text",
            "id": "button_text_2",
            "label": "Button text 2",
            "default": "View more"
          },
          {
            "type": "url",
            "id": "button_link_2",
            "label": "Button link 2"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product list HTML Banner",
        "category": "Collection",
        "blocks": [
            {
              "type": "banner"
            },
            {
              "type": "productlist"
            }
          ]
      }
    ]
  }
  {% endschema %}